extends layout

block content
  .main.container.text-xs-center
    h1.display-3 View &amp; Share Photos
    p.lead You wanna see something cool?
    a.btn.btn-info-outline.btn-lg(href='/photos') See Photos!
